h3 #{@posts["title"]}
img src="#{@posts['image_url']}" alt="Annonsbild" width="200"
p Description:
p #{@posts["description"]}

form action="/#{@posts["id"]}/return" method="post"
    input type="submit" value="Tillbaka"